body {
	--submission-bg-dark: #ddd;
	--submission-bg: #eee;
	--submission-sidebar-bg: #eee;

	--brand-fg: #72278f;
	--brand-bg-dark: #D9AFE9;
	--headline-fg: #49195c;
	--headline-decor: #9031b5;
	--heading-fg: #7F2CA0;
}

.header-page-submission {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 500px) {
	.header-page-submission {
		flex-direction: column;
	}
}

.header-fancy-logos img {
	object-fit: contain;
	max-height: 80px;
	text-align: center;
}

.header-under-logos {
	width: 100%;
	display: block;
	width: 100%;
	padding: 3px; 
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	text-align: center;
}

.header-under-logos img:nth-child(1) {
	padding: 20px 15px;
}

.header-fancy-logos img:nth-child(1) {
	padding: 15px 10px;
}
	
.header-under-logos img {
	max-height: 100px;
	object-fit: contain;
	vertical-align: middle;
}

@media (max-width: 768px) {
	.header-under-logos img {
		max-height: 82px;
	}

	.header-fancy-logos img {
		max-height: 50px;
	}

	.header-fancy-logos img:nth-child(1) {
		padding: 5px 5px;
	}

	.header-under-logos img:nth-child(1) {
		max-height: 90px;
		padding: 5px 5px;
	}
}

.header-site-home {
	margin-bottom: 1em;
}

.header-fancy {
	display: flex;
	width: 100%;
	clear: both;
/*	border-top: 1em solid white;*/

	height: 20vh;
	min-height: 200px;

	background-color: var(--submission-bg-dark);
	background: url('images/exoplanet_sails.webp');
	background-position: center 26%;
	background-size: cover;

	align-items: center;
	justify-content: center;
	gap: 0.2em;
	flex-direction: column;
	text-align: center;

	color: white;
	text-shadow: 2px 2px 4px black, 2px -2px 4px rgba(0,0,0,0.5);

	box-shadow: 0 0 10px rgba(0,0,0,0.2);

	position: relative;
}

.header-fancy::after {
	content: "Background designed by Maciej Rebisz for Science Now";
	position: absolute;
	text-shadow: none;
	right: 1rem;
	bottom: 1rem;
	font-size: 9pt;
	color: rgba(200,200,200,0.7);
}

.header-fancy .q {
	transition: 0.1s all;
	border-bottom: 2px solid transparent;
	line-height: 1.1;
}

.header-fancy .q:hover {
	border-bottom: 2px solid white;
	text-decoration: none;
	color: white;
}

@media (max-width: 768px) {
	.header-fancy {
		min-height: 400px;
	}
}

.header-page-submission {
	margin-top: -14px;
}

.header-fancy-site-name {
	font-size: 28pt;
	font-weight: 600;
}

.header-fancy-site-subtitle {
	font-size: 15pt;
	font-weight: 400;
}

body.body-signin {
	background-color: white;
}

/*
@media (min-width: 1100px) {
	.footer-socials {
		float: right;
	}

	.footer-legal {
		float: left;
	}
}*/

@media (min-width: 1100px) {
	.footer-text{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
	}
}

@media (min-width: 769px) {
	.paper .footer-text {
		margin-left: 15.5rem;
	}
}

.footer-legal {
	color: #555;
	font-size: 9.5pt;
	margin: 1rem 0.5rem;
}

.footer-legal a:link, .footer-legal a:visited {
	color: #555;
}

.footer-socials svg {
	width: 24px;
	margin: 0.5rem;
	fill: #333;
}
